<a href="https://colab.research.google.com/github/moebot3000/googleClassroom/blob/master/welcometocoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Welcome to coding in PYTHON.

Python is the name of the coding language/style we're using here, but the other ones are all pretty similar. The app we just made was in JAVASCRIPT, for instance. That's just another coding language. They can all do mostly the same stuff, but some are faster for certain kinds of tasks. There are no wrong answers.

Here, you're creating a VARIABLE. You've got this number (whatever 24 times 60 times 60 equals), and you don't want to have to write 24 times 60 times 60 over and over, so you just say, "Okay, I'm going to use the phrase seconds_in_a_day to mean 24 times 60 times 60. Voila! You've made a variable. It's called that because it could have been anything. You could have set seconds_in_a_day equal to 85 times 90. Or you could have set it equal to Cats ('Cats' is what we call a STRING - strings are words and sentences, things we don't want the program to treat like math problems - we just want it to print them out, exactly like we typed them in).

In [ ]:
seconds_in_a_day = 24 * 60 * 60

The box with the code in it can RUN whatever you typed in it. Go ahead and hit the play arrow at the left, and it will try to do whatever you typed in (in this case it's setting the meaning of the variable seconds_in_a_day.

I know, when you run it, nothing happens, right?! But wait. There's more. Now run this one below.

In [ ]:
seconds_in_a_day

86400

WHAT?! Amazing. When you type in a variable and run the code, it's going to print out the output.

Okay, here we're setting another variable, and then we have it print out the meaning to make sure it looks right. Go ahead and run the code cell.

In [ ]:
cat_list = ['Spots','Spooky','Louie']
cat_list

['Spots', 'Spooky', 'Louie']

This one is a LIST. In fact it's a list of names of cats, so it's a LIST of STRINGS! Pretty cool. You can store a lot of stuff as one variable like this.

Try making your own list in the cell below.

In [ ]:
griseldas_cats = ['Snow','Sam','Sal']
griseldas_cats

['Snow', 'Sam', 'Sal']

So, what can we do with variables we make? ANYTHING!!! Variables are the ingredients for our recipes, they're the nouns.

The verbs are FUNCTIONS. We can make our own functions, but there are also lots of ones already out there for virtually anything you could want.

Let's use division. That's a function. Run this cell and see what you get.

In [ ]:
seconds_in_a_day_divided_by_13 = seconds_in_a_day/13

Wait - why didn't anything come out?! It's because we created a new variable (seconds_in_a_day_divided_by_13) that equals the number, so, if we want the answer, we need to CALL that variable (we call using variables calling them, like you're calling them up to get info from them). So go ahead and call seconds_in_a_day_divided_by_13 in the box below.

In [ ]:
seconds_in_a_day_divided_by_13

6646.153846153846

Did it work? If not, check out the ones we called before and see what looks different. Tweak stuff and keep running it til you get what you want.

Okay, so we saw a pretty boring function. But functions don't have to be math stuff. Remember the cat names? Those were all capitalized. But what if I want a list of all my cat names that is lower case? There's a function for that. Try it out.

In [ ]:
cat_list_lower_case = [x.lower() for x in cat_list]
cat_list_lower_case

griseldas_cat_list_lower_case = [x.lower() for x in griseldas_cats]
griseldas_cat_list_lower_case
# [x.lower()['x.lowerfelix','x.lowerfancy','x.lowerfatima']

['snow', 'sam', 'sal']

How did we know that typing x.lower for x in cat list would get us what we wanted? Well, I did a google search for 'python lowercase list'. The first result is this Stack Overflow page: https://stackoverflow.com/questions/1801668/convert-a-python-list-with-strings-all-to-lowercase-or-uppercase. So I just copy and pasted the way that people said it would work, and replaced their list variable name with my list variable name. Awesome.

That's it for now. You can change anything and everything typed in here to see what you can get it to do. Or, you can make new Colab "notebooks" and try out making things from scratch.

As always, ask any and every question that comes up. There's no learning without having questions : )